Please transcribe image provided and give a description of the image. 
The image might contain text, if so then please transcribe the text to the best of your abilities and return the extracted text. 
If there are multiple blocks of text, please transcribe them in a logical order (e.g., top to bottom, left to right).
Return only the transcription and nothing else! Do not say: here is the transcription or something like that.

Filename:
{{filename}}

Always first return a short description and then the transcription
Return the description in the language that is in the image, if not any then return in English