DSGO_CLIENT_ID=did:ishare:EU.NL.NTRNL-98499327
DSGO_REGISTRY_URL=https://api.acceptance.digigo.nu
DSGO_REGISTRY_PARTY_ID=did:ishare:EU.NL.NTRNL-63202158
DSGO_PRIVATE_KEY_PATH=credentials/private.key
DSGO_CERTIFICATE_PATH=credentials/vondr B.V..pem
